<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ExpandTranscript":true,"IndexPath":[0,6]}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-log://6B3DED8B-2680-40CB-BF3E-7902E84A2276</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-log</string>
				<key>type</key>
				<string>IDELogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Multiple commands produce '/Users/yujiin/Library/Developer/Xcode/DerivedData/MyPlayground-flrsrlvxvjsrnlcnyzuckaedundi/Build/Intermediates.noindex/Playgrounds/MyPlayground/Intermediates.noindex/MyPlayground_Sources.build/Debug-iphonesimulator/______________PageSources.build/empty-______________PageSources.plist'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
